!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ace/styles.css')
    
    link(rel='stylesheet', href='/stylesheets/slickgrid/slick.grid.css')
    link(rel='stylesheet', href='/stylesheets/slickgrid/smoothness/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/slickgrid/examples.css')
    
    script(src='/javascripts/ace/ace.js')
    script(src='/javascripts/ace/mode-sql.js')
    
    script(src='/javascripts/slickgrid/lib/jquery-1.7.min.js')
    script(src='/javascripts/slickgrid/lib/jquery.event.drag-2.0.min.js')
    script(src='/javascripts/slickgrid/slick.core.js')
    script(src='/javascripts/slickgrid/slick.grid.js')
    
  body!= body